<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://necolas.github.io/normalize.css/"/>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/bs/js/bootstrap.min.js"></script>
</html>